# macOS
.DS_Store

# Raw and filtered train data (large; kept local only).
# final data is so small that we can commit it (27 MB)
junadata/*
!junadata/processed-data/

# Python
__pycache__/
*.pyc
.venv/
venv/
